{{log "It rendered!"}}
{{log this}}
{{#if data}}
<div class="logitem-flexrow top">
    <div class="logitem timestamp header">Timestamp</div>
    <div class="logitem name header">User</div>
    <div class="logitem event header">Action</div>
    <div class="logitem target header">Document</div>
    <div class="logitem change header">Changes</div>
</div>
{{/if}}
{{#if empty}}
<div class="flexy empty"><p>No logged data to display!</p></div>
{{/if}}

{{#if data}}

<div class="log-container-flexcol">

    {{#each data as |event object|}}
    {{#if event.reverted}}

    <div class="logitem-reverted">
        <p>Change reverted.</p>
    </div>
    {{/if}}

    <div class="logitem-flexrow{{#if event.reverted}} reverted{{/if}}">

        <div class="logitem timestamp">{{timestamp event.timestamp}}</div>
        <div class="logitem name">{{event.user.name}} ({{event.user.id}})</div>
        <div class="logitem event {{#ifeq event.action 'Create'}} create{{/ifeq}}{{#ifeq event.action 'Delete'}} delete{{/ifeq}}">{{event.action}}</div>
        <div class="logitem target">{{#if event.document.link}}{{{event.document.link}}}{{else}} {{event.document.type}}: {{event.document.name}} ({{document.id}}){{/if}}</div>
        {{#if event.document.changes}}

        <div class="logitem-flexcol change">
            <div class="logitem-change-flexrow header">
                <div class="logitem key header">key</div>
                <div class="logitem old header">-</div>
                <div class="logitem new header">+</div>
            </div>
            {{#each event.document.changes as |change object|}}
            <div class="logitem-change-flexrow">
                <div class="logitem key">{{change.key}}</div>
                <div class="logitem old">{{change.original}}</div>
                <div class="logitem new">{{change.updated}}</div>
            </div>

            {{/each}}

        </div>
        {{log event.document.type}}

        <div class="logitem-controls">{{#ifnot event.document.type 'Token'}}<i class="fas fa-undo-alt {{#unless event.reverted}}logitem-control{{/unless}}" title="revert changes" data-action="revert-{{event.action}}" data-logid="{{event.id}}"></i>{{/ifnot}}</div>
        {{else}}
        <div class="logitem-flexcol change">
            <div class="logitem-change-flexrow header nochanges">
                <div class="logitem-controls">{{#ifnot event.document.type 'Token'}}<i class="fas fa-undo-alt logitem-control" title="revert changes" data-action="revert-{{event.action}}" data-logid="{{event.id}}"></i>{{/ifnot}}</div>
            </div>
        </div>
        {{/if}}

    </div>
    {{/each}}
</div>
{{/if}}