.app.window-app.lumberjack.application.logview {
    min-width: 850px;
}

.app.window-app.lumberjack.application.logview .window-content {
    background: url(/ui/denim075.png) repeat;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-shadow-dark);
}
.app.window-app.lumberjack.application.logview a.entity-link {
    max-width: 100%;
    overflow-x: hidden;
}
.flexy {
    display: flex;
}
.empty {
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Modesto Condensed';
    color: var(--color-text-light-highlight);
}

.log-container-flexcol {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.logitem.header {
    font-size: var(--font-size-14);
    background: url(/ui/denim075.png) repeat;
    color: var(--color-text-light-highlight);
}
.logitem-flexcol {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.logitem-flexrow {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid var(--color-border-dark);
    margin: 3px;
    padding: 5px;
    color: var(--color-text-dark-primary);
    background: url(/ui/parchment.jpg) repeat;
    border-radius: 5px;
}
.logitem-change-flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text-dark-primary);
}

.logitem {
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 5px;
    font-size: var(--font-size-12);
    color: var(--color-text-dark-primary);
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #6f6c66;
    border-radius: 5px;
    user-select: text;

}

.logitem.timestamp {
    flex-basis: 15%;
    min-width: 15%;
}

.logitem.name {
    flex-basis: 15%;
    min-width: 15%;
}

.logitem.event {
    flex-basis: 8%;
    min-width: 8%;
}

.logitem.target {
    flex-basis: 15%;
    min-width: 15%;
}

.logitem.change {
    flex-basis: 44%;
    min-width: 44%;
}
.logitem.key {
    flex-basis: 50%;
}

.logitem.old {
    flex-basis: 25%;
}

.logitem.new {
    flex-basis: 25%;
}

.logitem-flexrow.top {max-height: 50px;}

.logitem.new.header {
    /* color: white; */
    font-size: var(--font-size-16);
    justify-content: center;
    background: rgba(0,150,0,1);
}
.logitem.old.header {
    /* color: white; */
    font-size: var(--font-size-16);
    justify-content: center;
    background: rgba(150,0,0,1);
}
.logitem-control {
    padding: 1px;
}
.logitem-change-flexrow.header.nochanges {
    justify-content: flex-end;
}
.logitem-control:hover{
    text-shadow: 0 0 8px var(--color-shadow-primary);

}
.logitem.event.create{
    background: rgba(0,150,0,1);
    color: var(--color-text-light-highlight);
}

.logitem.event.delete{
    background: rgba(150,0,0,1);
    color: var(--color-text-light-highlight);

}
.logitem-flexrow.reverted {
    filter: opacity(.5);
}
.logitem-reverted {
    color: var(--color-text-light-highlight);
    text-align: center;
}